body{
  margin: 0px;
}

.header{
  background-color: lightgray;
}

.navigation{
  background-color: gray;
  padding: 10px;
}

.navigation_link{
  padding-right: 5px;
  border-right-style: solid;
  border-right-width: thin;
}

.Content_page{
  background-color: white;
  border-style: solid;
  border-width: thin;
  padding: 10px;
}

.list_logement_item{
  display: flex;
}

.Logement_item{
  margin: 10px;
  padding: 10px;
  border-style: inset;
}

.footer{
  background-color: lightgray;
  padding: 10px;
}
